@{
    ViewBag.Title = "Carrera Creada";
}


<body style="background-color: #1BB769; font-family: Arial">
    <div class="caja">
        <br />
        <div style="text-align: center">
            <h2>Se creó la carrera</h2>
        </div>
        <div style="text-align: center">
            <h3>@ViewBag.Message</h3>
        </div>
        <div class="caja3">
            <button class="submit-btn" onclick="window.location.href='https://localhost:44348/Admin/Index'">Volver</button>
        </div>
    </div>
</body>

