@{
    ViewBag.Title = "BajaCarrera";
}

<body style="background-color: #1BB769; font-family: Arial">
    <div class="caja">
        <div style="text-align: center">
            <h2>La carrera se dio de baja</h2>
        </div>
        <div style="text-align: center">
            <h5>Tenés que volver a registrarte</h5>
        </div>
        <div class="caja3">
            <button class="submit-btn" onclick="window.location.href='https://localhost:44348/Alumno/CrearAlu'">Volver</button>
        </div>
    </div>
</body>

