@{
    ViewBag.Title = "Registrado/a";
}


<body style="background-color: #1BB769; font-family: Arial">
    <div class="caja">
        <div style="text-align: center">
            <h2>Te registraste con éxito</h2>
        </div>
        <br />
        <div style="text-align: center">
            <h4>Usa tu nuevo ID de Alumno: <strong>@ViewBag.Message</strong>, para inscribirte a las materias</h4>
        </div>
        <div class="caja3">
            <button class="submit-btn" onclick="window.location.href='https://localhost:44348/Alumno/LogIn'">Volver</button>
        </div>
    </div>
</body>

