@{
    ViewBag.Title = "Universidad Alchemit";
}

<body style="background-color: #1BB769">
    <div style="text-align: center">
        <button class="boton" onclick="window.location.href='https://localhost:44348/Alumno/CrearAlu'">Alumno</button>
        <button class="boton" onclick="window.location.href='https://localhost:44348/Profesor/index'">Profesor</button>
        <button class="boton" onclick="window.location.href='https://localhost:44348/Admin/index'">Admin</button>
    </div>
</body>